.main-container {
  /* background-color: var(--top-background-color); */
  display: flex;
  flex-direction: column;
}

i.nav-icon {
  display: none;
  color: var(--nav-font-color);
}

/* Media Query */

@media only screen and (max-width: 600px) {
  .home-container .--right img {
    content: url(../assets/backgroundmq.png);

    height: 300px !important;
    scale: 1/1.25;
    max-height: min-content;
  }

  .home-container .--left h1 {
    font-size: 1.5rem !important;
  }
  .home-container .--left .dev {
    font-size: 1rem !important;
    margin-left: 10px;
  }
  .iam {
    font-size: 1.5rem !important;
  }
  .rw-words {
    font-size: 1.5rem !important;
  }
  i.fa-solid {
    display: block;
    font-size: 25px;
  }
  .nav-bar {
    background-color: var(--nav-image-border);
    position: fixed;
    flex-direction: column;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    transition: right 0.5;
  }
  .tag-image img {
    left: 30px;
    top: 30px;
  }
  li .nav-icon {
    position: relative;
    bottom: 650px;
    left: 10px;
    font-size: 40px;
  }
  li.toggle-switch {
    position: relative;
  }
  i.fa-bars {
    position: relative;
    z-index: 0;
    left: 500px;
    top: 40px;
  }
  .aboutme-subcontainer {
    flex-wrap: wrap;
  }

  .get-to-know {
    padding: 5px;
  }
  .skills {
    margin-left: 20px !important;
  }
  .project-list {
    grid-template-columns: 1fr !important;
    gap: 20px;
    padding: 10px;
  }
  .get-in-touch-container p {
    font-size: 0.5rem;
    padding: 20px;
  }

  .layer h3 {
    font-size: 20px !important;
  }
  .layer p {
    font-size: 15px !important;
  }

  .icons {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
