.project-container {
  display: flex;
  position: relative;
  height: 100vh;
}

.project-left {
  background-color: var(--background-color-2);
  width: 100%;
}

.half-circle-project {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translatey(-50%);
  height: 150px;
  width: 150px;
  background-color: var(--background-color-2);
  border-radius: 50%;
}

.title {
  padding: 1rem;
  font-size: 2rem;
  align-self: center;
}

.project-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--nav-image-border);
  width: 100%;
}

.project {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.project.hidden {
  display: none;
}

.project img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  transition: translate 1s;
}

.layer {
  height: 0;
  width: 80%;
  color: var(--nav-image-border);
  background: linear-gradient(
    var(--top-background-color),
    var(--top-font-color)
  );
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  /* makes content hidden */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px 40px;
  text-align: center;
  transition: height 0.5s;
}

.layer h3 {
  margin-bottom: 20px;
}

.layer p {
  margin-bottom: 20px;
}

.layer .icons {
  margin: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

a.icon {
  padding: 0px 10px;
  margin-right: 10px;
  color: var(--top-font-color);
  text-decoration: none;
  /* line-height: 60px; */
  font-size: 35px;
  background-color: var(--top-background-color);
  border-radius: 50%;
  display: flex;
  width: 50px;
  height: 50px;
}

a.icon i {
  margin: auto;
}

.project:hover img {
  transform: scale(1.1);
}

.project:hover .layer {
  height: 100%;
  width: 84.5%;
}

.see-more {
  border-color: var(--nav-font-color);
  background-color: var(--nav-image-border);
  width: 10em;
  font-size: 1rem;
  color: whitesmoke;
  padding: 10px 10px;
  border-radius: 5px;
  border-width: 3px;
  transition: background-color 0.1s;
}

.see-more:hover {
  background-color: var(--top-hover-color);
  color: var(--top-background-color);
}
