@import url("./CSS/header.css");
@import url("./CSS/footer.css");
@import url("./CSS/main.css");
@import url("./CSS/home.css");
@import url("./CSS/about.css");
@import url("./CSS/projects.css");
@import url("./CSS/contact.css");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

:root {
  --top-background-color: #f7f2f0;
  --top-font-color: #f87d08;
  --top-hover-color: #7b7b7b;
  --nav-image-border: #0f405a;

  /* --body-background-color: #0f405a;
  --font-family: "Open Sans", sans-serif;
  --font-color: white;
  --nav-font-color: #fc7753;
  --footer-font-color: aliceblue; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  color: var(--nav-image-border);
}

.light-mode {
  --top-background-color: #0f405a;
  --top-font-color: #f87d08;
  /* --top-hover-color: #f87d08; */
  --nav-image-border: #f7f2f0;
}
